.genre-component {
  border-radius: 10px;
  background-color: #98FAA9;
  border: 10px solid #0d2d4a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;

  .genre-name {
    margin: 10px;
  }
}
